<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글 보기</title>

  <link rel="stylesheet" href="/stylesheets/detail.css" />
  <link rel="stylesheet" href="/stylesheets/modal.css" />
</head>

<body>
  <div class="detail-page">
    <%include sidebar.html%>

    <div class="main-section">
      <div class="logo-wrapper">
        <a href="/" style="position:relative;">
          <img src="/images/logo4.png" style="width:400px; height:150px;">
        </a>
      </div>

      <%include board_title.ejs%>
      
      <!--콘텍스트 메뉴-->
      <div class="context-wrapper">
        <%if(isPrivate && (post.writer == uid || user_role == 1)){%>
        <a class="btnEdit-wrapper" href="/post/edit/<%=post.pid%>">
          <div class="context-form1">
            <div class="context-text">수정하기</div>
          </div>
        </a>
        <%}%>
        <a class="btnBoard-wrapper" href="/post/board?format_name=<%=format_name%>&category_name=<%=category_name%>">
          <div class="context-form1">
            <div class="context-text">목록으로</div>
          </div>
        </a>
        <%if(isPrivate){%>
        <a class="btnLike-wrapper" href="javascript:void(0)" onclick="addLikes()">
          <div class="context-form2">
            <div class="context-text">추천하기</div>
          </div>
        </a>
        <a class="btnPay-wrapper" href="javascript:void(0)" onclick="activeTermModal()">
          <div class="context-form2">
            <div class="context-text">구매하기</div>
          </div>
        </a>
        <%}%>
      </div>
      <%include personalNav.ejs%>

      <!--게시물-->
      <div class="post-wrapper">
        <!--제목-->
        <div class="title-wrapper">
          <div class="title-label">
            <div class="attr-text">제목</div>
          </div>
          <div class="title-value">
            <div class="attr-text"><%=post.title%></div>
          </div>
        </div>
        <!--가격-->
        <div class="price-wrapper">
          <div class="attr-label1">
            <div class="attr-text">가격</div>
          </div>
          <div class="attr-value1">
            <div class="attr-text">￦ <%=post.price%></div>
          </div>
        </div>
        <!--형식-->
        <div class="format-wrapper">
          <div class="attr-label1">
            <div class="attr-text">형식</div>
          </div>
          <div class="attr-value1">
            <div class="attr-text"><%=post.format_name%></div>
          </div>
        </div>
        <!--카테고리-->
        <div class="category-wrapper">
          <div class="attr-label2">
            <div class="attr-text">카테고리</div>
          </div>
          <div class="attr-value2">
            <div class="attr-text"><%=post.category_name%></div>
          </div>
        </div>
        <!--작성자-->
        <div class="writer-wrapper">
          <div class="attr-label1">
            <div class="attr-text">작성자</div>
          </div>
          <div class="attr-value1">
            <div class="attr-text"><%=post.writer_name%></div>
          </div>
        </div>
        <!--조회수-->
        <div class="views-wrapper">
          <div class="attr-label2">
            <div class="attr-text">조회수</div>
          </div>
          <div class="attr-value2">
            <div class="attr-text"><%=post.views%></div>
          </div>
        </div>
        <!--추천수-->
        <div class="likes-wrapper">
          <div class="attr-label1">
            <div class="attr-text">추천수</div>
          </div>
          <div class="attr-value1">
            <div class="attr-text"><%=post.likes%></div>
          </div>
        </div>
        <!--다운로드수-->
        <div class="downloads-wrapper">
          <div class="downloads-label">
            <div class="attr-text">다운로드</div>
          </div>
          <div class="downloads-value">
            <div class="attr-text"><%=post.downloads%></div>
          </div>
        </div>
        <!--내용-->
        <% 
        var text=post.description; 
        var map={
          " " : "&nbsp;", 
          "\n" : "<br>", 
          "<" : "&lt;" ,
          ">" : "&gt;", 
          "\"": "&quot;", 
          "&" : "&amp;", 
        }; 
        var escapedText=text.replace(/[ \n<>\"&]/g, (m) => map[m]);
        %>
        <div class="textarea" id="description"><%-escapedText%></div>
        <!--이미지-->
        <%if(post.images){%>
          <div class="image-wrapper">
          <%for(let i = 0; i < Math.min(10, post.images.length); ++i){%>
            <div id="image-<%=i+1%>" class="image" style="left:<%=195 * i%>px">
              <img src="/uploads/<%=post.images[i]%>" width="175" height="108"
                onclick="activeImageModal('/uploads/<%=post.images[i]%>');"
                />
            </div>
          <%}%>
          </div>
        <%}%>
      </div>
    </div> <!--게시물-->
  </div>  

  <!-- 약관 모달 -->
  <div id="term-Modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" onclick="inactiveTermModal()">&times;</span>
        <h2>저작권 안내</h2>
      </div>
      <div class="modal-body">
        <p>
          이 소프트웨어의 저작권은 작성자에게 있으며,<br> 
          MIT 라이선스에 따라 배포됩니다. <br>
          영리 목적으로 이용할 수 있으며, <br>
          수정과 배포가 허용되나 저작권 표시를 유지해야 합니다.<br><br>
          개발자는 소프트웨어의 사용으로 인해 발생하는 문제에 대해 <br>
          책임을 지지 않습니다.
        </p>
        <br>
        <p>
          본 자료의 일부 혹은 전체 내용을 무단으로 복제/배포하거나 <br>
          2차적 저작물로 재편집하는 경우,<br> 
          5년 이하의 징역 또는 5천만원 이하의 <br>
          벌금과 민사상 손해배상을 청구합니다.
        </p>
        <br>
        <input type="radio" name="agreement" value="no" checked onclick="inactiveBtnPay()"/>동의하지 않음
        <input type="radio" name="agreement" value="yes" onclick="activeBtnPay()"/>동의함
      </div>
      <div class="modal-footer">
        <button id="btnPay" class="modal-btn-wrapper" onclick="pay()" disabled>
          구매하기
        </button>
      </div>
    </div>
  </div>

  <!-- 이미지 모달 -->
  <div id="image-Modal" class="modal">
    <img id="image-Modal-contents" src="">
    </img>
  </div>
  
  <script>
    // Modal Handler
    function activeTermModal(){ document.getElementById("term-Modal").style.display="block";}
    function inactiveTermModal(){ document.getElementById("term-Modal").style.display = "none";}

    function activeImageModal(url){ 
      document.getElementById("image-Modal").style.display = "block";
      document.getElementById("image-Modal-contents").setAttribute("src", url);
    }
    function inactiveImageModal(){ document.getElementById("image-Modal").style.display = "none";}
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      let termModal = document.getElementById("term-Modal");
      let imageModal = document.getElementById("image-Modal");
      if (event.target == termModal) {
        termModal.style.display = "none";
      }
      if (event.target == imageModal) {
        imageModal.style.display = "none";
      }
    }
  </script>
</body>

<script>
  async function addLikes(){
    let req = {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ })
    };
    let url = "/post/<%=post.pid%>/up-likes";
    try{
      let response = await fetch(url, req);
      if(response.status == 403){
        alert("이미 추천한 게시물 입니다.");
        return;
      }
      let data = await response.json();
      if(data.result == "Success"){
          alert("추천하였습니다.");
          location.reload();
          return;
      }
    } catch(err){
      alert("추천에 실패하였습니다.");  
      console.error(err);
    }
  }
  
  async function pay(){
    let req = {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ })
    };
    let url = "/pay/<%=post.pid%>";
    try{
      let response = await fetch(url, req);
      if(response.status == 403){
        alert("이미 구매한 게시물 입니다.");
        return;
      }
      let data = await response.json();
      if(data.result == "Success"){
          alert("구매하였습니다.");
          location.reload();
          return;
      }
    } catch(err){
      alert("구매에 실패하였습니다.");  
      console.error(err);
    } finally{
      inactiveTermModal();
    }
  }
  function activeBtnPay(){
    let btnPay = document.getElementById("btnPay");
    btnPay.disabled = false;
  }
  function inactiveBtnPay(){
    let btnPay = document.getElementById("btnPay");
    btnPay.disabled = true;
  }
</script>
</html>