<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글 쓰기</title>

  <link rel="stylesheet" href="/stylesheets/write.css" />
  <script src="/javascripts/post.js"></script>
</head>

<body>
  <div class="posting-page">
    <% include ./sidebar.html %>
    <!--콘텐츠-->
    <div class="main-section">
      <!--로고-->
      <div class="logo-wrapper">
        <a href="/" style="position:relative;">
          <img src="/images/logo4.png" style="width:400px; height:150px;">
        </a>
      </div>
      <% include ./board_title.ejs%>
      <%include personalNav.ejs%>

      <!--글쓰기-->
      <div class="posting-wrapper">
        <!--제목-->
        <div class="postingTitle-wrapper">
          <label class="posting-header-form" for="title">
            <div class="posting-header-text">제목</div>
          </label>
          <div class="input">
            <input id="title" class="t1" type="text" value="<%=method == 'PUT' ? post.title : '' %>" />
          </div>
        </div>
        <!--가격-->
        <div class="postingPrice-wrapper">
          <label class="posting-header-form" for="price">
            <div class="posting-header-text">가격</div>
          </label>
          <div class="input">
            <input id="price" class="t1" type="number" value="<%=method == 'PUT' ? post.price : '' %>" />
          </div>
        </div>
        <!--본문-->
        <div class="textarea">
          <textarea id="description" class="t2"><%=method == 'PUT' ? post.description : ''%></textarea>
        </div>
        <!--이미지-->
        <div class="imageInput-wrapper">
          <div class="btnRegFile-wrapper">
            <label class="btnRegFile" for="image">
              <div class="btnRegFile-text">첨부 이미지</div>
            </label>
            <input id="image" type="file" accept="image/*" multiple onchange="displayFileName()">
          </div>
          <div class="regFile-wrapper">
            <div class="regFile-text" id="fileDisplay">첨부 이미지 등록</div>
          </div>
        </div>
      </div> <!--글쓰기-->
      
      <!--콘텍스트 메뉴-->
      <div class="context-wrapper">
        <!--취소하기-->
        <div class="btnCanceal-wrapper">
          <button class="context-form" onclick="backTo()">
            <div class="context-text">취소하기</div>
          </button>
        </div>
        <%if(method == "PUT"){%>
        <!--삭제하기-->
        <div class="btnDelete-wrapper">
          <button class="context-form" onclick="requestDelete()">
            <div class="context-text">삭제하기</div>
          </button>
        </div>
        <%}%>
        <!--등록하기-->
        <div class="btnRegister-wrapper">
          <button class="context-form" onclick="requestRegister('<%=method%>')">
            <div class="context-text">등록하기</div>
          </button>
        </div>
      </div> <!--콘텍스트 메뉴-->

    </div>
  </div>
</body>
<script>
  function backTo(method){
    <%if(method == "POST"){%>
      location.href="/post/board?format_name=<%=format_name%>&category_name=<%=category_name%>";
    <%}else{%>
      location.href="/post/read/<%=post.pid%>";
    <%}%>
  }
  
  function displayFileName(){
    let imageInput = document.getElementById("image");
    let fileDisplay = document.getElementById("fileDisplay");
    let fileString = "";
    if(imageInput.files){
      for(let file of imageInput.files){
        fileString += file.name + ", ";
      }
    }
    if(fileString === "") {
      fileString = "첨부 이미지 등록";
    }
    fileDisplay.innerText = fileString;
  }
</script>
</html>